* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    flex-direction: column;
    padding-top: 100px;
    background-color: #F2F1F2;
}

.onglet-container {
    width: 70%;
    height: 10%;
    background-color: #F2F1F2;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    padding: 5px;
}

.onglets {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DBD9DB;
    cursor: pointer;
}

.active {
    background-color: #A8A7A9;
}

.active p {
    color:white;
}


.onglets p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 600;
}

.text-container {
    width: 70%;
    height: 40%;
    background-color: #fff;
    position: relative;
}

.text {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    padding: 10px;
    text-align: center;
}

.text p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 600;
}

.text-active {
    display: block
}




